*{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.inputField{
    display: block;
}
#submit{
    display: block;
}
#output{
    display: block;
    text-align: left;
    width: 20%;
}