*{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.inputField{
    display: block;
}
#submit{
    display: block;
}
#output{
    display: block;
    text-align: left;
    width: 20%;
}
#tabs button{
    background-color: white;
    border-width: 1px;
}
#tabs button.active{
    background-color: #ddd;
}
#tabs button:hover{
    background-color: #ccc;
}